---
# to have this processed
---
<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127570011-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-127570011-1');
    </script>


    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>Bitter &#8212 Music for weddings and events</title>
    <meta name="description" content="Music for your special moments">
    <meta name="author" content="Raffaella Migliaccio">

    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <!-- Open Graph data -->
    <meta property="og:title" content="Bitter — Music for weddings and events">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://trascend--musicbitter.netlify.com">
    <meta property="og:image" content="https://trascend--musicbitter.netlify.com/img/card.png">
    <meta property="og:description" content="Music for your special moments.">
    <meta property="og:site_name" content="Bitter — Music for weddings and events">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@raffamigliaccio">
    <meta name="twitter:creator" content="@raffamigliaccio">
    <meta name="twitter:title" content="Bitter — Music for weddings and events">
    <meta name="twitter:description" content="Music for your special moments">
    <meta name="twitter:image" content="https://trascend--musicbitter.netlify.com/img/card.png">
</head>

<body id="top">

    <!-- header -->
    {% include header.html %}
    <!-- end header -->

    <!-- home -->
    {% include home.html %}
    <!-- end s-home -->

    <!-- start s-about -->
    {% include about.html %}
    <!-- end s-about -->

    <!-- start s-services -->
    {% include services.html %}
    <!-- end s-services -->

    <!-- start s-pics -->
    {% include pics.html %}
    <!-- end s-pics -->

    <!-- start s-review -->
    {% include reviews.html %}
    <!-- end s-review -->

    <!-- start s-contact -->
    {% include contacts.html %}
    <!-- end s-contact -->


    <!-- photoswipe background -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div>
    <!-- end photoSwipe background -->


    <!-- preloader -->
    <div id="preloader">
        <div id="loader">            
        </div>
    </div>


    <!-- Java Script -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Matrimonio.com -->
    <script type="text/javascript" src="https://cdn1.matrimonio.com/_js/wp-rated.js?v=4"></script>
    <script>wpShowRatedv2('161057');</script>

</body>

</html>