<section id='pics' class="s-pics">

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Featured pics</h3>
            <h1 class="display-1"> You can find other pic on our <a
                    href="https://www.instagram.com/musicbitter/">instagram</a></h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-lamp.jpg" class="thumb-link" title="Lamp"
                            data-size="1050x700">
                            <img src="images/portfolio/lamp.jpg"
                                srcset="images/portfolio/lamp.jpg 1x, images/portfolio/lamp@2x.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Wedding 10/10/18
                        </h3>
                        <p class="item-folio__cat">
                            Francesca & Mario
                        </p>
                    </div>

                    <span class="item-folio__caption">
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-salad.jpg" class="thumb-link" title="Salad"
                            data-size="1050x700">
                            <img src="images/portfolio/salad.jpg"
                                srcset="images/portfolio/salad.jpg 1x, images/portfolio/salad@2x.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Wedding 10/10/18
                        </h3>
                        <p class="item-folio__cat">
                            Francesca & Mario
                        </p>
                    </div>

                    <span class="item-folio__caption">
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" title="Woodcraft"
                            data-size="1050x700">
                            <img src="images/portfolio/woodcraft.jpg"
                                srcset="images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Wedding 10/10/18
                        </h3>
                        <p class="item-folio__cat">
                            Francesca & Mario
                        </p>
                    </div>

                    <span class="item-folio__caption">
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-liberty.jpg" class="thumb-link" title="Liberty"
                            data-size="1050x700">
                            <img src="images/portfolio/liberty.jpg"
                                srcset="images/portfolio/liberty.jpg 1x, images/portfolio/liberty@2x.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            New Year
                        </h3>
                        <p class="item-folio__cat">
                            Ramada Plaza (Milano)
                        </p>
                    </div>

                    <span class="item-folio__caption">
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->


            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-fuji.jpg" class="thumb-link" title="Fuji"
                            data-size="1050x700">
                            <img src="images/portfolio/fuji.jpg"
                                srcset="images/portfolio/fuji.jpg 1x, images/portfolio/fuji@2x.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Wedding 10/10/18
                        </h3>
                        <p class="item-folio__cat">
                            Francesca & Mario
                        </p>
                    </div>

                    <span class="item-folio__caption">
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Shutterbug"
                            data-size="1050x700">
                            <img src="images/portfolio/shutterbug.jpg"
                                srcset="images/portfolio/shutterbug.jpg 1x, images/portfolio/shutterbug@2x.jpg 2x"
                                alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Private Party
                        </h3>
                        <p class="item-folio__cat">
                            Francesca & Mario
                        </p>
                    </div>

                    <span class="item-folio__caption">
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->
</section>