<section id='services' class="s-services light-gray">

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">What We Do</h3>
            <h1 class="display-1">Servizi</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row services-list block-1-3 block-m-1-2 block-tab-full">
        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon  service-icon--music">
                <i class="icon-music"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">Repertorio</h3>
                <p>Proponiamo una selezione di famosissime cover italiane e internazionali assieme a grandi hit
                    radiofoniche rivisitate in chiave
                    elettro-acustica.
                    Il nostro repertorio è composto da più di 100 pezzi: dal pop fino ad arrivare al Rock, al Funk,
                    alla Revival e alla Dance.
                </p>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon  service-icon--professionalita">
                <i class="icon-suitcase"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">Professionalità</h3>
                <p>L'esperienza maturata durante gli anni ci permette di guidarvi affinchè tutto sia organizzato nei
                    minimi dettagli,
                    senza lasciare nulla al caso. Ogni momento verrà incorniciato con la musica adatta.
                    <br>Puntuali, disponibili e sorridenti.

                </p>
            </div>
        </div>

        <div class="col-block service-item " data-aos="fade-up">
            <div class="service-icon service-icon--brand-identity">
                <i class="icon-trophy"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">Consigliati da</h3>
                <div id="wp-rated" class="image center" style="border: none">
                    <a href="https://www.matrimonio.com/musica-matrimonio/mara-bosisio-acoustic-trio--e161057"
                        title="Suggerito in www.matrimonio.com"><img alt="Consigliato da Matrimonio.com"
                            id="wp-rated-img"
                            src="https://cdn1.matrimonio.com/img/badges/2018/badge-gold_it_IT@2x.jpg" /></a>
                </div>
            </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon  service-icon--professionalita">
                <i class="icon-eye"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">Guarda</h3>
                <p>I vostri momenti più romantici e quelli più <a href="https://youtu.be/3UktuhyxoR8">scatenati</a>.
                    <br>Ne abbiamo per tutti i gusti.
                </p>
            </div>
        </div>


        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon  service-icon--extra">
                <i class="icon-plus"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">Extra</h3>
                <p>
                    Musica live durante la cerimonia.<br>
                    Dj set.<br>
                    Formazione allargata.<br>

                </p>
            </div>
        </div>


    </div> <!-- end services-list -->

</section>